/* le block conteneur */

.marquee-rtl {
    max-width: 100vh;
    /* largeur de la fen�tre */
    margin: 1em auto 2em;
    text-align: center;
    /* masque tout ce qui d�passe */
}


/* le bloc d�filant */

.marquee-rtl> :first-child {
    display: block;
    /* mod�le de bo�te en ligne */
    padding-bottom: 2em;
    padding: 1%;
    /* un peu d'espace pour la transition */
    padding-top: 100%;
    /* placement � droite du conteneur */
    animation: defilement-rtl 15s infinite linear;
    animation-name: defilement-rtl;
    /* r�f�rence � la r�gle @keyframes mise en oeuvre */
    animation-delay: 0.2s;
    /* valeur � ajuster suivant la longueur du message */
    animation-iteration-count: infinite;
    /* boucle continue */
    animation-timing-function: linear;
    /* pas vraiment utile ici */
}

@keyframes defilement-rtl {
    0% {
        transform: translate3d(0, 0, 0);
        /* position initiale � droite */
    }
    100% {
        transform: translate3d(0, -100%, 0);
        /* position finale � gauche */
    }
}

h1 {
    margin-top: 5%;
}

body {
    overflow: hidden;
}

#retour {
    width: 10vw;
    margin: 0;
}

.home {
    border-top: 1px solid #f0f0f0;
    background: #05131c;
    background: -webkit-gradient(linear, left top, left bottom, from(#9c3e3e), to(#05131c));
    background: -webkit-linear-gradient(top, #9c3e3e, #05131c);
    background: -moz-linear-gradient(top, #9c3e3e, #05131c);
    background: -ms-linear-gradient(top, #9c3e3e, #05131c);
    background: -o-linear-gradient(top, #9c3e3e, #05131c);
    padding: 12.5px 25px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: #ffffff;
    font-size: 16px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
}

.home:hover {
    border-top-color: #ffffff;
    background: #ffffff;
    color: #000000;
}

.home:active {
    border-top-color: #5c1b1b;
    background: #5c1b1b;
}